<div class="col-12 mb-4">
    <h2>Currently working on</h2>
    <p>I'm currently busy inputting the core classes' advancements paths through the levels. That covers how base attack bonus and saving throws change, how spells per day develop, and what class features are added.</p>
    <p>Here's my progress:</p>

    <ul>
        <li><strong>☑ Barbarian</strong></li>
        <li>☐ Bard</li>
        <li><strong>☑ Cleric</strong></li>
        <li>☐ Druid</li>
        <li>☐ Fighter</li>
        <li>☐ Paladin</li>
        <li>☐ Ranger</li>
        <li>☐ Sorcerer</li>
        <li>☐ Wizard</li>
    </ul>
</div>
